@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #1c2235;

  --primary: #6f7580;
  --primary-foreground: #374157;

  --secondary: #eab308;
  --secondary-foreground: #ca8a04;

  --border: #d1d5db;
}

.dark {
  --background: #1c2235;
  --foreground: #ffffff;

  --primary: #ffffff;
  --primary-foreground: #e5e7eb;

  --secondary: #ca8a04;
  --secondary-foreground: #eab308;

  --border: #d1d5db;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden !important;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

.font-english {
  font-family: "Josefin Sans", "Roboto", sans-serif;
}
.font-ukrainian {
  font-family: "Josefin Sans", "Roboto", sans-serif;
  letter-spacing: 0.04em;
  font-size: 0.95rem;
}

::-webkit-scrollbar {
  width: 7px;
  scrollbar-color: white;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

::selection {
  color: white;
  background: #000;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
