@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.font_en {
  font-family: "Roboto", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
}
.font_ua {
  font-family: "Roboto", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

html {
  overflow-x: hidden !important;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

::-webkit-scrollbar {
  width: 7px;
  scrollbar-color: white;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

::selection {
  color: white;
  background: #000;
}
