@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-family: "Josefin Sans", sans-serif;
}

html {
  overflow-x: hidden !important;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

::-webkit-scrollbar {
  width: 7px;
  scrollbar-color: white;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

::selection {
  color: white;
  background: #000;
}

:root {
  --background: #ffffff;
  --foreground: #1c2235;

  --primary: #9ca3af;
  --primary-foreground: #374157;

  --secondary: #eab308;
  --secondary-foreground: #ca8a04;

  --border: #d1d5db;
}
.dark {
  --background: #1c2235;
  --foreground: #ffffff;

  --primary: #ffffff;
  --primary-foreground: #e5e7eb;

  --secondary: #ca8a04;
  --secondary-foreground: #eab308;

  --border: #d1d5db;
}
